*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: .5em;
}

.flex-2 {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 2em 0;
}

h1,h2,h3,h4 {
  font-family: 'Space Mono', monospace;
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
}

p,a {
  font-family: 'Space Mono', monospace;
}

.horizonal-rule {
  margin: 2em 0 4em 0;
}

.loading-container {
  display: flex;
  justify-content: center;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #069;
}
a:after, a:visited:after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #069;
  transition: 0.2s;
}
a:hover:after, a:visited:hover:after {
  width: 100%;
}
a.block, a:visited.block {
  display: block;
  padding: 0.5em;
}
a.block:hover, a:visited.block:hover {
  background: #eee;
}